@model FoodServices.Models.Customer

@{
    ViewData["Title"] = "Create";
}


<style>
    body, section {
        background: #f6d365;
        background: -webkit-linear-gradient(to right bottom, rgba(255, 0, 0, 1), rgba(2, 0,0, 1));
        background: linear-gradient(to right bottom, rgba(2,0,0,1),rgba(178, 34, 34, 1));
        font-family: Calibri;
    }
</style>

<br />
<br />
<section class="vh-200" style="background-color: #f4f5f7;">
    <div class="container py-5 h-200"><br />
        <br />
        <h3 class="text-white text-center text-light">Sign Up Form</h3><br />
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-8 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="CustomerCard" />
                                <div class="form-group font-weight-bold">
                                    <br />
                                    <label asp-for="CustomerName" class="control-label"></label>
                                    <input asp-for="CustomerName" class="form-control" />
                                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                                </div>
                                <div class="form-group font-weight-bold">
                                    <label asp-for="Address" class="control-label"></label>
                                    <input asp-for="Address" class="form-control" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                                <div class="form-group font-weight-bold">
                                    <label asp-for="CustomerPhone" class="control-label"></label>
                                    <input asp-for="CustomerPhone" class="form-control" />
                                    <span asp-validation-for="CustomerPhone" class="text-danger"></span>
                                </div>
                                <div class="form-group font-weight-bold">
                                    <label asp-for="AddressCity" class="control-label"></label>
                                    <input asp-for="AddressCity" class="form-control" />
                                    <span asp-validation-for="AddressCity" class="text-danger"></span>
                                </div>
                                <div class="form-group font-weight-bold">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group font-weight-bold">
                                    <label asp-for="ImageUrl" class="control-label"></label>
                                    <input asp-for="ImageUrl" class="form-control" />
                                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                                </div>
                                <div class="form-group font-weight-bold">
                                    <label asp-for="CustomerCard" class="control-label"></label>
                                    <input asp-for="CustomerCard" class="form-control" />
                                    <span asp-validation-for="CustomerCard" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Sign up" class="btn btn-danger" />
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
</div>

</section>
<div>
    <div class="btn btn-danger text-right"><a class="text-light font-weight-bold" asp-action="Index">Back to List</a></div>
</div>

