@model FoodServices.Models.OrderAnyItem
@{
    ViewData["Title"] = "CreateItalian";
}

<style>
    section {
        background-color: transparent;
        background: #f6d365;
        height: 570px;
        width: 1100px;
        background-image: url("https://images.unsplash.com/photo-1626777552795-3a5e3f6ee7ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=885&q=80");
        background-size: inherit;
    }
</style>

<br />
<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-200 text-left">
        <br />
        <br />
        <br />
        <br />
        <div class="row d-flex justify-content-left align-items-left h-100">
            <br />
            <div class="col col-lg-7 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <br />
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="FoodQuantity" class="control-label"></label>
                                    <input asp-for="FoodQuantity" class="form-control" />
                                    <span asp-validation-for="FoodQuantity" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MenuId" class="control-label"></label>
                                    <select asp-for="MenuId" class="form-control" asp-items="ViewBag.MenuId"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CustomerId" class="control-label"></label>
                                    <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row pt-1">

                <div class="col-15 mb-0 text-light justify-content-md-between text-center ">
                    <br />
                    <br /><br />
                    <br />
                    <br />
                    <h1 class="font-weight-bold">&nbsp;&nbsp;Order Italian Dish</h1><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enjoy your Day with Declicious Food!</h4>

                </div>
            </div>
        </div>
    </div>
</section>
<div>
    <div class="btn btn-danger text-right"><a class="text-light font-weight-bold" asp-action="Index">Back to List</a></div>
</div>